- title 'Log In'

.row
  .col-sm-offset-3.col-sm-6

    .panel.panel-default#login-panel
      .panel-body
        %ul.nav.nav-tabs
          %li.active
            %a{ href: '#login-github', data: { toggle: "tab" } }
              Log in using GitHub
          %li
            %a{ href: '#login-local', data: { toggle: "tab" } }
              Log In Using Local ID

        .tab-content
          .tab-pane.active#login-github
            %br
            %br
            .center
              = link_to '/auth/github', class: 'btn btn-lg btn-primary' do
                Log In using your
                %br
                GitHub Account

          .tab-pane#login-local
            %br
            = bootstrap_form_for :login, url: login_path do |f|
              = f.input :email
              = f.input :password
              .form-group
                .col-sm-offset-3.col-sm-2
                  = submit_tag 'Log In', class: 'btn btn-primary'
