%table.table
  %thead
    %tr
      %th Title
      %th Tags
      %th Published at
      %th.center Visible
      %th
  %tbody
    - articles.each do |article|
      %tr{ id: dom_id(article) }
        %td= link_to article.title, article
        %td= article.topics.map(&:name).join(", ")
        %td= article.published_at.try :to_date
        %td.center= tick_helper article.visible
        %td
          = link_to 'Edit', edit_article_path(article), class: 'btn btn-xs btn-info'

= paginate articles, remote: true
