= bootstrap_form_for @article do |f|
  = f.input :title
  = f.input :published_at
  = f.input :visible
  = f.input :body, rows: 20

  .form-group
    .col-sm-offset-3.col-sm-2
      = f.submit 'Save', class: 'btn btn-primary'
