= bootstrap_form_for @article_form do |f|
  = f.input :body_lang, label: 'Format', collection: %w[markdown html]
  = f.input :title
  = f.input :published_at
  = f.input :visible
  = f.input :body, rows: 20
  = f.input :topic_names, label: 'Tags'

  .form-group
    .col-sm-offset-3.col-sm-2
      = f.submit 'Save', class: 'btn btn-primary'
