- title @article.title
- content_for :head do
  %link{ rel: "canonical", href: article_url(@article) }

%p
  %b Posted:
  = succeed '.' do
    = @article.published_at.try :strftime, '%B %e, %Y'

  %b Tags:
  = @article.topics.map { |t| link_to t.name, t }.join(', ').html_safe

.article_body
  ~ markdown @article.body

- if user_logged_in? && current_user.is_admin?
  = link_to 'Edit', [:edit, @article], class: 'btn btn-info'

  = link_to 'Publish', [:publish, @article], method: :patch,
                       class: 'btn btn-warning' unless @article.published?

  = link_to 'Destroy', @article, method: :delete,
                             class: 'btn btn-danger',
                             data: { confirm: 'Are you sure?' }

#social_media
  %a.twitter-share-button{ href: "https://twitter.com/share",
    data: { via: "spierson",
    text: "#{@article.title} #{article_url(@article)}" } } Tweet

  .fb-like{ data: { href: article_url(@article),
                    layout: "button_count", action: "like",
                    "show-faces" => "true", share: "false" } }

  .g-plusone{ data: { href: article_url(@article),
                      size: "medium", annotation: "bubble", width: "300" } }

  #fb-root

#disqus_thread

- unless Rails.env.test?
  - content_for :javascripts do
    :javascript
      Sam.Twitter.setupTweetButtons();
      Sam.Facebook.setupLikeButtons();
      Sam.GooglePlus.setupPlusButtons();
      Sam.Disqus.embedCommentConversation("#{@article.to_param}");
