- title @article.title

%p
  %b Posted:
  = succeed '.' do
    = @article.published_at.try :strftime, '%B %e, %Y'

  %b Tags:
  = @article.topics.map { |t| link_to t.name, t }.join(', ').html_safe

.article_body
  ~ markdown @article.body

- if user_logged_in?
  = link_to 'Edit', [:edit, @article], class: 'btn btn-info'

  = link_to 'Publish', [:publish, @article], method: :patch,
                       class: 'btn btn-warning' unless @article.published?

  = link_to 'Destroy', @article, method: :delete,
                             class: 'btn btn-danger',
                             data: { confirm: 'Are you sure?' }
