%h1 Listing posts

%table.table
  %tr
    %th Title
    %th Author
    %th Published at
    %th
    %th
    %th

  - @posts.each do |post|
    %tr{ id: dom_id(post) }
      %td= link_to post.title, post
      %td= post.author.full_name
      %td= post.published_at
      %td
        = link_to 'Edit', edit_post_path(post), class: 'btn btn-xs btn-info'
        = link_to 'Destroy', post, method: :delete,
                                   class: 'btn btn-xs btn-danger',
                                   data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path, class: 'btn btn-primary'
