%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Author:
  = @post.author_id
%p
  %b Published at:
  = @post.published_at
%p
  %b Body:
  = markdown @post.body

= link_to 'Edit', [:edit, @post], class: 'btn btn-info'

= link_to 'Publish', [:publish, @post], method: :patch,
                     class: 'btn btn-warning' unless @post.published?
\|
= link_to 'Back', posts_path
