- title 'Blog'
- @heading = false

.row
  .col-sm-9
    = render 'articles', articles: @blog_data[:articles].limit(10)

  .col-sm-3.archive
    %h4 More Articles
    %ul
      - @blog_data[:articles].offset(10).each do |article|
        %li
          = link_to article.title, article_path(article)

    %h4 Tags
    %ul
      - @blog_data[:topics].each do |topic|
        %li
          = link_to topic.name, topic
          = surround "(", ")" do
            = topic.article_count

- unless Rails.env.test?
  - content_for :javascripts do
    :javascript
      Sam.Disqus.setupCommentCountLinks();
