- title 'Sign Up'

= bootstrap_form_for @account, html: { class: 'col-sm-offset-1 col-sm-10' } do |f|
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :password
  = f.input :password_confirmation, label: 'Retype password', placeholder: 'Password'

  .form-group
    .col-sm-offset-3.col-sm-2
      = f.submit 'Sign Up', class: 'btn btn-primary'
